body {
    padding-bottom: 100px;
    padding-top: 100px;
}

.carousel-item img {
    max-width: 300px; /* Largura máxima desejada */
    max-height: 300px; /* Altura máxima desejada */
    margin: 0 auto; /* Centralizar a imagem horizontalmente */
}

h2 {
    text-align: center;
    padding: 20px;
}

#logo {
    padding: 20px;
}

.helper-text {
    display: none;
    font-size: .8rem;
    color: darkred;
  }
/* ---------- Estilos dinâmicos ---------- */
.required-popup::after {
    content: "*Campo obrigatório";
    position: absolute;
    top: 0;
    right: 0;
    color: #DFDFDF;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    background-color: #202020;
  }
  
  input.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
  }

  textarea.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
  }
  
  input.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
  }
  
  textarea.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
  }

  .visible {
    display: block;
  }